<div class="container">
  <mat-card>
    <mat-card-title>Change Password</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="changePassword()">
        <mat-form-field appearance="outline">
          <mat-label>Old Password</mat-label>
          <input
            matInput
            placeholder="$0mePa$$word"
            [formControl]="oldPassword"
            [type]="hidePassword ? 'password' : 'text'"
            required
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="oldPassword.invalid">{{
            getOldPasswordErrorMessage()
          }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input
            matInput
            placeholder="$0mePa$$word"
            [formControl]="newPassword"
            [type]="hidePassword ? 'password' : 'text'"
            required
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="newPassword.invalid">{{
            getNewPasswordErrorMessage()
          }}</mat-error>
        </mat-form-field>
        <button type="submit" color="accent" mat-flat-button>Change</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
